/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    font-family: "Sans serif", optima;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    background-repeat: no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#e29578), color-stop(#ffddd2), color-stop(#edf6f9), color-stop(#83c5be), to(#006d77)) fixed;
    background: -o-linear-gradient(top, #e29578, #ffddd2, #edf6f9, #83c5be, #006d77) fixed;
    background: linear-gradient(to bottom, #e29578, #ffddd2, #edf6f9, #83c5be, #006d77) fixed;
    /*pattern:5 #542344, #bfd1e5, #ebf5ee, #607466, #3a606e*/
    /*pattern:4 #a7a5c6, #8797b2, #6d8a96, #5d707f, #66ced6*/
    /*pattern:3 #f2e9e4, #c9ada7, #9a8c98, #4a4e69, #22223b*/
    /*pattern:2 #cee0dc, #b9cfd4, #afaab9, #b48291*/
    /*pattern:1 #f6f1d3, #648880, #293f50*/
}


.sidenav {
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    position: fixed;
    z-index: 10;
    text-align: right;
    background-color: rgba(109, 104, 117, 0.3);
    overflow-x: hidden;
}

.name {
    position: fixed;
    display: block;
    padding: 5px;
    padding-right: 15px;
    left: 0px;
    width: 17%;
    bottom: 0;
    text-align: right;
/*    cursor: pointer;*/
    color: white;
    font-weight: 600;
    font-size: 14px;
}

@media screen and (max-width: 900px) {
    .sidenav  {
        visibility: none;
	display: none;
    }
    .name {
	position: relative;
	width: 100%;
	padding-right: 5%;
    }
}


/* Style the sidenav links and the dropdown button */
.sidenav a {
    text-decoration: none;
    font-family: "Sans serif", optima;
    color: white;
}

.sidenav links {
  padding: 20px 12px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  border: none;
  background: none;
  text-align: right;
  cursor: pointer;
  outline: none;
}


.home {
    text-decoration: none;
    position: fixed;
    padding: 4px 4px 0px 4px;
    display: block;
    top: 5px;
    left: 5px;
    cursor: pointer;
    color: white;
    background-color: rgba(109, 104, 117, 0.6);
    font-size: 20px;
    z-index: 1000;
    border-radius: 3px;
}




.sidenav links:after {
    content: "";	
    display: block;
    height: 2px;
    width: 100%;
    right: 0;
    border-radius: 5px;
    background-color: rgba(109, 104, 117, 1);
}


/* On mouse-over */
.sidenav links:hover {
  color: #f1f1f1;
}

.sidenav links:hover:after {
    background-image: -webkit-gradient(linear, left top, right top, from(#e29578), color-stop(#ffddd2), color-stop(#edf6f9), color-stop(#83c5be), to(#006d77));
    background-image: -o-linear-gradient(left, #e29578, #ffddd2, #edf6f9, #83c5be, #006d77);
    background-image: linear-gradient(to right, #e29578, #ffddd2, #edf6f9, #83c5be, #006d77);
}


.vertical-center {
    right: 2%;
    left: 3%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

section {
    display: block;
    height:100%;
    width:100%;
    padding: 20px;
    padding-right: 5%;
    padding-left: 20%;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    text-align: left;
}

@media screen and (max-width: 900px) {
    section {
	padding-left: 5%;
	padding-right: 5%;
    }
}

section a {
/*    text-decoration: none;*/
    font-family: "Sans serif", optima;
    color: rgb(109, 104, 117);
}

section a:hover {
    color: #83c5be;
}


.main {
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15%;
    padding-left: 10%;
    font-size: 18px;
    text-align: left;
}

.main.style1 {
    background-image: -o-radial-gradient(ellipse, white, transparent 100%);
    background-image: radial-gradient(ellipse, white, transparent 100%);
    color: black;
}

p {
    text-align: justify;
}

h1 {
    font-size: 36px;
    font-family: "Sans serif", optima;
    font-weight: bold;
    text-align: left;
}


input[type=number], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
}

input[type=submit] {
  width: 100%;
  background-color: rgba(109, 104, 117, 0.2);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Sans serif", optima;
  color: black;
}

input[type=submit]:hover {
    background-color: rgba(131, 197, 190, 0.5); /*rgba(0, 109, 119, 0.5);*/
}


/* for fractions */
.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
} 



* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;    
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column  {
	width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column  {
	width: 100%;
    }
}


.h-link {
    text-decoration: none;
    font-family: "Sans serif", optima;
    font-size: 24px;
    color: black;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;  
}

.h-link:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    right: 0;
    border-radius: 5px;
    background-color: rgba(109, 104, 117, 1);
}

.h-link:hover:after {
    background-image: -webkit-gradient(linear,  left top, right top,  from(#e29578), color-stop(#ffddd2), color-stop(#edf6f9), color-stop(#83c5be), to(#006d77));
    background-image: -o-linear-gradient(left,  #e29578, #ffddd2, #edf6f9, #83c5be, #006d77);
    background-image: linear-gradient(to right,  #e29578, #ffddd2, #edf6f9, #83c5be, #006d77);
}

.tooltip {
	position: relative;
  	display: inline-block;
   	padding: 4px 8px 2px 8px;
   	cursor: pointer;
    color: white;
    background-color: rgba(109, 104, 117, 0.6);
    font-size: 14px;
    z-index: 100;
    border-radius: 3px;
}

.tooltip .tooltiptext {
  visibility: hidden;
	width: 200px;
  background-color: rgba(129, 124, 137, 1);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
