body {
    font-family: "Sans serif", optima;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, #e29578, #ffddd2, #edf6f9, #83c5be, #006d77) fixed;
				/*#542344, #bfd1e5, #ebf5ee, #607466, #3a606e);*/
/*#a7a5c6, #8797b2, #6d8a96, #5d707f, #66ced6);*/
				/*pattern:3 #f2e9e4, #c9ada7, #9a8c98, #4a4e69, #22223b*/
				/*patern:2 #cee0dc, #b9cfd4, #afaab9, #b48291*/
    /*pattern:1 #f6f1d3, #648880, #293f50*/
}


.sidenav {
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    position: fixed;
    z-index: 1;
    text-align: right;
    background-color: rgba(109, 104, 117, 0.3);
    /*background-image: radial-gradient(ellipse, rgba(165, 36, 61, 0.6), transparent 120%);*/
    overflow-x: hidden;
}

/* Style the sidenav links and the dropdown button */
.sidenav a {
    text-decoration: none;
    font-family: "Sans serif", optima;
    color: white;
}

.sidenav links {
  padding: 20px 12px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  border: none;
  background: none;
  text-align: right;
  cursor: pointer;
  outline: none;
}

.sidenav name {
    position: absolute;
    display: block;
    bottom: 1%;
    right: 5%;
    cursor: pointer;
    background-color: rgba(109, 104, 117, 0.6);
    font-size: 14px;
}

.sidenav home {
    position: absolute;
    padding: 1px 5px 1px 5px;
    display: block;
    top: 1%;
    left: 8%;
    cursor: pointer;
    background-color: rgba(109, 104, 117, 0.6);
    font-size: 20px;
}

.sidenav links:after {
    content: "";	
    display: block;
    height: 2px;
    width: 100%;
    right: 0;
    border-radius: 5px;
    background-color: rgba(109, 104, 117, 1);
}


/* On mouse-over */
.sidenav links:hover {
  color: #f1f1f1;
}

.sidenav links:hover:after {
    background-image: linear-gradient(to right, #e29578, #ffddd2, #edf6f9, #83c5be, #006d77);
}


.vertical-center {
    right: 2%;
    left: 3%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

section {
    display: block;
    height:100%;
    width:100%;
    padding: 20px;
    padding-right: 5%;
    padding-left: 20%;
    box-sizing:border-box;
    text-align: left;
}

section a {
/*    text-decoration: none;*/
    font-family: "Sans serif", optima;
    color: rgb(109, 104, 117);
}

section a:hover {
    color: #83c5be;
}

.main {
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15%;
    padding-left: 10%;
    font-size: 18px;
    text-align: left;
}

.main.style1 {
    background-image: radial-gradient(ellipse, white, transparent 100%);
    color: black;
}

p {
    text-align: justify;
}

h1 {
    font-size: 36px;
    font-family: "Sans serif", optima;
    font-weight: bold;
    text-align: left;
}


input[type=number], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}

input[type=submit] {
  width: 100%;
  background-color: rgba(109, 104, 117, 0.2);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Sans serif", optima;
  color: black;
}

input[type=submit]:hover {
    background-color: rgba(131, 197, 190, 0.5); /*rgba(0, 109, 119, 0.5);*/
}


/* for fractions */
.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
} 



* {
    box-sizing: border-box;    
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column  {
	width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column  {
	width: 100%;
    }
}


.h-link {
    text-decoration: none;
    font-family: "Sans serif", optima;
    font-size: 24px;
    color: black;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;  
}

.h-link:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    right: 0;
    border-radius: 5px;
    background-color: rgba(109, 104, 117, 1);
}

.h-link:hover:after {
    background-image: linear-gradient(to right,  #e29578, #ffddd2, #edf6f9, #83c5be, #006d77);
}
